# --- Python Temizliği ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# --- uv & Paket Yönetimi ---
# .venv klasörü kütüphaneleri tutar, GitHub'a gitmemeli
.venv/
.uv/

# --- Proje Özel ---
# API anahtarları ve gizli bilgiler burada olacak, sakın pushlama!
.env

# --- Editörler ---
.vscode/
.idea/

fast_api_async_await/.venv/
fast_api_async_await/__pycache__/